* { 
    padding: 0; 
    margin: 0; 
}  

:root { 
    --background-color-for-nav:  rgb(86, 179, 216);
    --background-color-for-main-sidebar-footer: rgb(235, 224, 224); 
    --universal-font-family-roboto: 'Roboto'; 
}



@font-face {
    font-family: 'Roboto' ;
    src: url(fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}


nav,
main, 
sidebar, 
header,
footer { 
    /* font-size: 3em;  */
    /* background-color: skyblue;   */
    border: 2px solid red; 
}

body { 
    display: grid; 
    grid-template-areas: 
    "nav header header"
    "nav main sidebar"
    "nav main sidebar"
    "nav footer footer";
    grid-template-columns: 1.5fr 5fr 2fr;
    grid-template-rows: 2fr 5fr 1fr;
    height: 100vh;
} 


nav { 
    grid-area: nav; 
}

header { 
    grid-area: header; 
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
 
} 

main { 
    grid-area: main; 
    display: grid; 
    grid-template-rows: 2fr 2fr; 
    /* grid-template-columns: repeat(auto-fill, 1fr); */
    /* background-color: rgb(235, 224, 224);  */
    background-color: var(--background-color-for-main-sidebar-footer); 
} 

sidebar { 
    grid-area: sidebar; 
    display: grid; 
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-color-for-main-sidebar-footer);
} 

footer { 
    grid-area: footer; 
    /* background-color: rgb(235, 224, 224); */ 
    background-color: var(--background-color-for-main-sidebar-footer);
}

.nav-container { 
    /* used css variable here, defined in root */
    /* background-color: rgb(86, 179, 216);  */
    background-color: var(--background-color-for-nav); 
    width: auto; 
    height: 100vh; 
}  

.nav-container > .nav-img-text-container { 
    display: flex; 
    align-items: center;
    margin-bottom: 2em; 
}


/* .nav-img-text-container { 
    display: flex; 
    align-items: center;
    margin-bottom: 2em; 
}  */

 /* .nav-container .header-text { 
    font-size: 2.5em; 
    /* padding: 0.2em;  */
    /* font-family: 'Roboto';
    color: white;  */
/* }   */ 


.nav-img-text-container > h4 { 
    font-size: 2.49rem; 
    /* padding: 0.2em;  */
    /* font-family: 'Roboto'; */
    font-family: var(--universal-font-family-roboto);
    color: white; 
}


 .nav-img-text-container > #header-img { 
    display: flex; 
    justify-content: center; 
    align-content: center;
    width: 5em; 
    height: 5em;  
} 

.home-img-and-text-container, 
.profile-img-and-text-container, 
.messages-img-and-text-container, 
.history-img-and-text-container, 
.tasks-img-and-text-container,
.communities-img-and-text-container, 
.support-img-and-text-container, 
.privacy-img-and-text-container
 { 
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 2em; 
    padding: 0.5em; 
    margin-left: 1em; 
    /* font-family: 'Roboto'; */
    font-family: var(--universal-font-family-roboto);
} 

#home-img, 
#profile-img, 
#message-logo, 
#history-img, 
#tasks-img, 
#communities-img, 
#settings-img, 
#support-img, 
#privacy-img { 
    height: 2em; 
    width: 2em; 
} 

.home-text, 
.profile-text, 
.message-text, 
.history-text,
.tasks-text, 
.communities-text,
.settings-text,
.support-text, 
.privacy-text { 
    font-size: 1.99rem;
    color: white; 
} 


.nav-container > .settings-img-and-text-container { 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 2em; 
    padding: 0.5em; 
    margin-top: 4em; 
    margin-left: 1em; 
    /* font-family: 'Roboto'; */
    font-family: var(--universal-font-family-roboto);
}

/* Code for header below, top left */ 

.top-header-container-left { 
    display: flex; 
    gap: 1.5em; 
    margin-top: 1em; 
}

.top-header-container-left > .header-input-field { 
    height: 2em; 
    width: 40em; 
    border-radius: 17px 20px 17px 20px;
    background-color: rgb(243, 221, 221); 
    border: none;
    display: grid;
    
} 


.top-header-container-left > #header-top-glass-img { 
    width: 2em; 
    height: 2em; 
} 

/* Code for header below, top right */ 


.top-header-container-right { 
    display: flex;
    justify-content: space-evenly; 
    margin-top: 1em; 
}

.top-header-container-right > .top-right-header-img { 
    height: 3em; 
    width: 3em; 
    border-radius: 50%;
} 

.top-header-container-right > .top-right-header-bell-icon { 
    width: 2em; 
    height: 2em; 
} 

.top-header-container-right > .top-right-header-text { 
    font-size: 1.49rem;
    font-family: 'Roboto';
} 

/* bottom header left code */ 

.bottom-header-container-left { 
    display: flex; 
    grid-column: 1; 
    grid-row: 2;  
    /* align-items: center; */
} 


.bottom-header-container-left > .bottom-left-header-img { 
    height: 4.5em; 
    width: 4.5em; 
    border-radius: 50%;
}  

.bottom-header-container-left .bottom-header-text-1 { 
    font-family: 'Roboto';
}

.bottom-header-container-left .bottom-header-text-2 { 
    font-size: 1.49rem; 
    font-family: 'Roboto'; 
}  

.bottom-header-right-container { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
} 

.bottom-header-right-container > button { 
    background-color: rgb(86, 179, 216);
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 0.89rem;
    border-radius: 17px 20px 17px 20px;  
    height: 4em; 
    width: 7em; 
    border: none; 
} 

/* main content section, card section begins here */ 


.main-card-1-header-text {  
    grid-row: 1; 
}

.card-1-main-content-container { 
    grid-row: 1; 
    grid-column: 1; 
    display: grid; 
    margin: 1em; 

}  

.card-1-main-content-container > .card-1-main-content { 
    display: grid;
    background-color: white;
    height: 20vh; 
    width: 40vh; 
    padding: 1em;  
    border-radius: 10%; 
    border-left-color: 1px solid orange; 
} 


.card-1-main-content > h5 { 
    font-size: 1.2rem; 
}

.bottom-card-grid-container { 
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;  
    grid-column-gap: 1em; 
    justify-content: end;
    
}



/* .card-1-main-content { 
    background-color: white;
    height: auto-fit; 
    width: auto-fit; 
    padding: 2em;
    border-radius: 12%; 
    margin: 2em; 
    grid-row: 1; 
    grid-column: 1;
}  */



