* { 
    padding: 0; 
    margin: 0; 
    display: border-box;
}  

:root { 
    --background-color-for-nav:  rgb(86, 179, 216);
    --background-color-for-main-sidebar-footer: rgb(235, 224, 224); 
    --universal-font-family-roboto: 'Roboto'; 
}



@font-face {
    font-family: 'Roboto' ;
    src: url(fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}


nav,
main, 
sidebar, 
header,
footer { 
    /* font-size: 3em;  */
    /* background-color: skyblue;   */
    border: 2px solid red; 
}

body { 
    display: grid; 
    grid-template-areas: 
    "nav header header"
    "nav main sidebar"
    "nav main sidebar"
    "nav footer footer";
    grid-template-columns: 1.5fr 5fr 2fr;
    grid-template-rows: 2fr 5fr 1fr;
    /* when commeting out rows, and columns, main content fits 
    however left side nav bar is much larger */ 
    /* grid-template-columns: 1.5fr 5fr 2fr;
    grid-template-rows: 2fr 5fr 1fr; */
    height: 100vh;
    width: 100vw; 
} 


nav { 
    grid-area: nav;  
    /* height: 100vh;  */
}

header { 
    grid-area: header; 
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
 
} 

main { 
    grid-area: main; 
    display: grid; 
    /* grid-template-rows: 2.5fr 2.5fr 2.5fr;
    grid-template-columns: 2fr 2fr;   */

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;   
    background-color: var(--background-color-for-main-sidebar-footer); 
    /* height: 85vh;   */
    /* height: 100vh;  */
    /* grid-row-gap: 0.1em;  */
    grid-column-gap: 1em; 
    grid-row-gap: 1em; 
} 

sidebar { 
    grid-area: sidebar; 
    display: grid; 
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-color-for-main-sidebar-footer);
} 

footer { 
    grid-area: footer;   
    /* background-color: rgb(235, 224, 224); */ 
    background-color: var(--background-color-for-main-sidebar-footer);
}

.nav-container { 
    /* used css variable here, defined in root */
    /* background-color: rgb(86, 179, 216);  */
    background-color: var(--background-color-for-nav); 
    width: auto; 
    height: 100vh; 
}  

.nav-container > .nav-img-text-container { 
    display: flex; 
    align-items: center;
    margin-bottom: 2em; 
}


/* .nav-img-text-container { 
    display: flex; 
    align-items: center;
    margin-bottom: 2em; 
}  */

 /* .nav-container .header-text { 
    font-size: 2.5em; 
    /* padding: 0.2em;  */
    /* font-family: 'Roboto';
    color: white;  */
/* }   */ 


.nav-img-text-container > h4 { 
    font-size: 2.49rem; 
    /* padding: 0.2em;  */
    /* font-family: 'Roboto'; */
    font-family: var(--universal-font-family-roboto);
    color: white; 
}


 .nav-img-text-container > #header-img { 
    display: flex; 
    justify-content: center; 
    align-content: center;
    width: 5em; 
    height: 5em;  
} 

.home-img-and-text-container, 
.profile-img-and-text-container, 
.messages-img-and-text-container, 
.history-img-and-text-container, 
.tasks-img-and-text-container,
.communities-img-and-text-container, 
.support-img-and-text-container, 
.privacy-img-and-text-container
 { 
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 2em; 
    padding: 0.5em; 
    margin-left: 1em; 
    /* font-family: 'Roboto'; */
    font-family: var(--universal-font-family-roboto);
} 

#home-img, 
#profile-img, 
#message-logo, 
#history-img, 
#tasks-img, 
#communities-img, 
#settings-img, 
#support-img, 
#privacy-img { 
    height: 2em; 
    width: 2em; 
} 

.home-text, 
.profile-text, 
.message-text, 
.history-text,
.tasks-text, 
.communities-text,
.settings-text,
.support-text, 
.privacy-text { 
    font-size: 1.99rem;
    color: white; 
} 


.nav-container > .settings-img-and-text-container { 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 2em; 
    padding: 0.5em; 
    margin-top: 4em; 
    margin-left: 1em; 
    /* font-family: 'Roboto'; */
    font-family: var(--universal-font-family-roboto);
}

/* Code for header below, top left */ 

.top-header-container-left { 
    display: flex; 
    gap: 1.5em; 
    margin-top: 1em; 
}

.top-header-container-left > .header-input-field { 
    height: 2em; 
    width: 40em; 
    border-radius: 17px 20px 17px 20px;
    background-color: rgb(243, 221, 221); 
    border: none;
    display: grid;
    
} 


.top-header-container-left > #header-top-glass-img { 
    width: 2em; 
    height: 2em; 
} 

/* Code for header below, top right */ 


.top-header-container-right { 
    display: flex;
    justify-content: space-evenly; 
    margin-top: 1em; 
}

.top-header-container-right > .top-right-header-img { 
    height: 3em; 
    width: 3em; 
    border-radius: 50%;
} 

.top-header-container-right > .top-right-header-bell-icon { 
    width: 2em; 
    height: 2em; 
} 

.top-header-container-right > .top-right-header-text { 
    font-size: 1.49rem;
    font-family: 'Roboto';
} 

/* bottom header left code */ 

.bottom-header-container-left { 
    display: flex; 
    grid-column: 1; 
    grid-row: 2;  
    /* align-items: center; */
} 


.bottom-header-container-left > .bottom-left-header-img { 
    height: 4.5em; 
    width: 4.5em; 
    border-radius: 50%;
}  

.bottom-header-container-left .bottom-header-text-1 { 
    font-family: 'Roboto';
}

.bottom-header-container-left .bottom-header-text-2 { 
    font-size: 1.49rem; 
    font-family: 'Roboto'; 
}  

.bottom-header-right-container { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
} 

.bottom-header-right-container > button { 
    background-color: rgb(86, 179, 216);
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 0.89rem;
    border-radius: 17px 20px 17px 20px;  
    height: 4em; 
    width: 7em; 
    border: none; 
} 

/* main content section, card section begins here */ 

/* card 1  */ 

/* .cards-main-content-container > .main-card-1-header-text {  
     /* grid-row: 1;   */
    /* text-decoration: underline;  */
 /* }  */ 

 /* .main-card-1-header-text { 
    text-decoration: underline;
 } */ 


.cards-main-content-container { 
    /* grid-row: 1; 
    grid-column: 1;  */
    display: grid;
     /* display: flex;  
     justify-content: center;  */
    
}  

.cards-main-content-container > .card-1-main-content { 
    display: grid;
    background-color: white;
    padding: 1em;  
    border-radius: 10%; 
    border-left-color: 1px solid orange; 
    /* justify-self: center;
    align-self: center; */
    /* grid-row: 1;  */
    /* grid-column: 1; */
    /* align-self: start; */
    /* font-size: 1.5rem; */
} 




.card-1-main-content > h5, 
.card-2-main-content-container > h5, 
.card-3-main-content-container > h5, 
.card-4-main-content-container > h5, 
.card-5-main-content-container > h5, 
.card-6-main-content-container > h5 { 
    font-size: 1.2rem; 
} 

.bottom-card-grid-container, 
.bottom-card-grid-container-2, 
.bottom-card-grid-container-3, 
.bottom-card-grid-container-4,
.bottom-card-grid-container-5, 
.bottom-card-grid-container-6 { 
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;  
    grid-column-gap: 1em; 
    justify-content: end;  
    
} 

/* card 2  */ 


 .card-2-main-content-container { 
    display: grid;
    /* display: flex; */
    background-color: white;
    /* height: 22vh; 
    width: 40vh;  */
    /* height: 90%; 
    width: 70%; */
    padding: 1em;  
    border-radius: 10%; 
    border-left-color: 1px solid orange; 
    /* justify-self: center;
    align-self: center; */
    /* justify-content: center;
    align-content: center; */
    grid-column: 2;
    /* margin: 1em;  */
    grid-row: 1; 
    /* font-size: 1.5rem; */
} 

 





/* card 3 experimental */ 

.card-3-main-content-container { 
    display: grid;
    grid-column: 1;
    grid-row: 2; 
    background-color: white;
    padding: 1em;  
    border-radius: 10%; 
    border-left-color: 1px solid orange; 
    /* justify-self: center;
    align-self: center; */
    /* margin: 1em;  */
    /* font-size: 1.5rem; */
 } 


 /* card 4 */ 
 
 .card-4-main-content-container { 
    display: grid;
    grid-column: 2;
    grid-row: 2; 
    background-color: white;
    /* height: 20vh; 
    width: 40vh;  */
    /* height: 17vh; 
    width: 15vw; */
    padding: 1em;  
    border-radius: 10%; 
    border-left-color: 1px solid orange; 
    /* justify-self: center;
    align-self: center; */
    /* margin: 1em;  */
 }


/* card 5 */ 

.card-5-main-content-container { 
    display: grid;
    grid-column: 1;
    grid-row: 3; 
    background-color: white;
    /* height: 20vh; 
    width: 40vh;  */
    /* height: 17vh; 
    width: 15vw; */
    padding: 1em;  
    border-radius: 10%; 
    border-left-color: 1px solid orange; 
    /* justify-self: center;
    align-self: center; */
    /* margin: 1em;  */
}


/* card 6 */ 

.card-6-main-content-container { 
    display: grid;
    grid-column: 2;
    grid-row: 3; 
    background-color: white;
    /* height: 20vh; 
    width: 40vh;  */
    /* height: 17vh; 
    width: 15vw; */
    padding: 1em;  
    border-radius: 10%; 
    border-left-color: 1px solid orange; 
    /* justify-self: center;
    align-self: center; */
    /* margin: 1em;  */
} 

/* sidebar content */ 

/* sidebar { 
    display: block;
}  */

sidebar > h3 { 
    text-decoration: underline;
    grid-column: 1;
    grid-row: 1;  
}



.sidebar-top-container { 
    display: grid; 
    grid-column: 1; 
    grid-row: 1; 
    width: auto; 
    background-color: white;
    margin: 1.3em; 
    padding: 0.3em; 
} 



.sidebar-row-1 { 
    margin: 1em; 
}

.sidebar-row-2 { 
    display: grid;
    grid-row: 2; 
    margin: 1em; 
} 

.sidebar-row-3 { 
    display: grid;
    grid-row: 3; 
    margin: 1em;    
} 

.trending-sidebar-header { 
    grid-row: 2; 
} 

.sidebar-bottom-container { 
    grid-row: 2; 
    grid-column: 1; 
    background-color: white;
}


 #little-lab-img,
 #img-2-bottom-sidebar {  
    border-radius: 50%;
    height: 3.5em; 
    width: 3.5em;   
    display: block;
    /* grid-row: 2;  */
} 

.sidebar-bottom-inner-text-img-container,
.sidebar-bottom-img-text-container-2 { 
    display: flex;
    gap: 1em;
} 

 .sidebar-bottom-inner-text-img-container, .sidebar-bottom-img-text-container-2 > p { 
    display: flex;
    font-size: 1rem; 
    align-self: center;
    
}  



