* { 
    padding: 0; 
    margin: 0; 
}


@font-face {
    font-family: 'Roboto' ;
    src: url(fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}



.layout-container { 
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr; 
} 

 .sidebar-container { 
    /* display: grid; */
    display: flex;
    flex-direction: column;
    background: steelblue; 
    color: white; 
     font-family: 'Roboto'; 
     height: 100vh; 
     width: 35vh; 
}  

.dashboard-container { 
    display: flex; 
    margin-bottom: 20px;
} 

 #header-img { 
    vertical-align: middle; 
    height: 50px; 
    width: 50px; 
}   

.header-text { 
    /* display: flex;
    justify-content: flex-start; */
    /* margin-left: 30px;  */ 
    display: flex; 
    margin-left: 20px; 
    margin-top: 12px; 
} 

#home-logo { 
    vertical-align: middle;
    margin-left: 12px; 
}


.home-container { 
    display: flex; 
    /* margin-bottom: 20px; */
    padding: 5px; 
} 

.home-text { 
    margin-left: 40px; 
} 

.profile-container { 
    display: flex;
    vertical-align: middle;
    padding: 5px; 
}

#profile-img { 
    vertical-align: middle;
    margin-left: 12px; 
} 

.profile-text { 
    margin-left: 40px; 
}

.messages-container { 
    display: flex;
    vertical-align: middle;
    /* margin-top: 20px;  */
    padding: 5px; 
} 

#message-logo { 
    margin-left: 12px; 
} 

.message-text { 
    margin-left: 40px; 
} 

.history-container { 
    display: flex; 
    vertical-align: middle;
    padding: 5px; 
}  

.history-text { 
    margin-left: 40px; 
} 

#history-img { 
    margin-left: 12px; 
} 

.tasks-container { 
    display: flex;
    vertical-align: middle;
    padding: 5px; 
} 

.tasks-text { 
    margin-left: 40px; 
} 

#tasks-img { 
    margin-left: 12px; 
}

.communities-container { 
    display: flex; 
    vertical-align: middle; 
    padding: 5px; 
} 

.communities-text { 
  margin-left: 40px; 
} 

#communities-img { 
    margin-left: 12px; 
} 

.settings-container { 
    display: flex; 
    vertical-align: middle;
    padding: 5px; 
    margin-top: 50px; 
} 

.settings-text { 
    margin-left: 40px; 
} 

#settings-img { 
    margin-left: 12px; 
} 

.support-container { 
    display: flex; 
    vertical-align: middle;
    padding: 5px; 
} 

.support-text { 
    margin-left: 40px; 
} 

#support-img { 
    margin-left: 12px; 
} 

.privacy-container { 
    display: flex; 
    vertical-align: middle;
    padding: 5px; 
} 

.privacy-text { 
    margin-left: 40px; 
} 

#privacy-img { 
    margin-left: 12px; 
}