* { 
    padding: 0; 
    margin: 0; 
} 



@font-face {
    font-family: 'Roboto' ;
    src: url(fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}


nav,
main, 
sidebar, 
header,
footer { 
    /* font-size: 3em;  */
    /* background-color: skyblue;   */
    border: 2px solid red; 
}

body { 
    display: grid; 
    grid-template-areas: 
    "nav header header"
    "nav main sidebar"
    "nav main sidebar"
    "nav footer footer";
    grid-template-columns: 1.5fr 5fr 2fr;
    grid-template-rows: 2fr 4fr 1fr;
    height: 100vh;
} 


nav { 
    grid-area: nav; 
}

header { 
    grid-area: header; 
} 

main { 
    grid-area: main; 
    display: grid; 
    grid-template-rows: 1fr 1fr;
} 

sidebar { 
    grid-area: sidebar; 
} 

footer { 
    grid-area: footer; 
}



